{% extends "poster.jinja2" %}

{## Header ##}

{% set poster_title = "What's the name of your project?" %}
{# ‘poster_subtitle’ is optional; use "" to hide it #}
{% set poster_subtitle = "a subtitle might be useful" %}
{# Change ‘venue’ to a conference or workshop name if any #}
{% set venue = "Unpublished" %}
{# ‘webpage_title’ is displayed in the browser’s top bar #}
{% set webpage_title = poster_title + " — " + poster_subtitle %}
{# ‘project_url’ is used in the footer and for the logo #}
{% set project_url = "https://github.com/FRI-Energy-Analytics/2021_summer_fellows" %}

{# Publication info is hidden by default (.publication-info in CSS) #}
{% set pub_datetime_iso = "2021-07-23" %}
{% set pub_date = "July 23 2021" %}

{% block custom_head %}
<style type="text/css">
  html { font-size: 1.15rem }
</style>
{% endblock %}

{% block authors %}
  {# Put authors here, with one link per author. #}
  <a property="author">FirstName LastName1<sup>1</sup></a>
  <a property="author">FirstName LastName2<sup>1</sup></a>
  <a property="author">FirstName LastName3<sup>1</sup></a>
  <a property="author">Jesse R. Pisel<sup>1,2</sup></a>
  <a property="author">Michael J. Pyrcz<sup>3,4</sup></a>
{% endblock %}

{% block affiliations %}
  <sup>1</sup><a property="sourceOrganization">College of Natural Science, UT Austin</a>
  <sup>2</sup><a property="sourceOrganization">Texas Institute for Discovery Education in Science, UT Austin</a>
  <sup>3</sup><a property="sourceOrganization">Cockrell School of Engineering, UT Austin</a>
  <sup>4</sup><a property="sourceOrganization">Jackson School of Geosciences, UT Austin</a>
{% endblock %}

{# Project logos shown on the left side #}
{% block project_logos %}
  <a href="{{ project_url }}"><img src="EA_logo.jpg" alt="Energy Analytics logo"></a>
{% endblock %}

{# Extra logos shown on the right side #}
{% block logos %}
  <a href="https://cns.utexas.edu/"><img style="background: white" src="ut_logo.png" alt="UT Logo"></a>
{% endblock %}

{### Footer ##}

{% block project_link %}
  <a href="{{ project_url }}">{{ project_url }}</a>
{% endblock %}

{% block contact_information %}
  youremailhere@utexas.edu
{% endblock %}

{### Contents ###}

{# Contents are individual boxes (typically ‘article’s or ‘figure’s).  Each
   ‘article’ contains a header and some contents. #}
{% block contents %}
  <article property="abstract">
    {# Using <h3> inside the <header> makes the structure evident to screen readers #}
    <header><h3>Executive Summary</h3></header>

    <p>What is the problem?</p>
	
    <p>How did you approach it?</p>
	
    <p>What did you learn?</p>
    
	<p>What are your recommendations</p>

  </article>

  <article>
    <header><h3>Problem</h3></header>
    <p>A bit of text here and some images if they are useful. SVG images work best for HTML and CSS. Below is an example of a SVG figure</p>
	
	<figure>
      <img src="https://www.w3.org/html/logo/downloads/HTML5_Logo.svg" width="197" height="64" alt="An orange shield with a white 5 emblazoned on it and the letters HTML above it.">

      <figcaption>The HTML5 logo (<i>Source: <a href="https://www.w3.org/html/logo/">W3C</a></i>)</figcaption>
    </figure>
	
  </article>

  <article>
    <header><h3>Approach</h3></header>

    <p>Tell us how you approached the problem. Code, diagrams, flowcharts are handy here.
	
	We can also write out unordered lists:
	</p>
	<ul>
	  <li> First item</li>
	  <li> Second item</li>
	</ul>
	 
	<p> We can also add numbered lists as well:</p>
	<ol> 
	  <li> First item </li>
	  <li> Second item </li>
    </ol>
    <p> You can also add inline math with <a href="https://www.mathjax.org/">MathJax</a></p>
	<p class="center">\((\lambda x. e) v \downarrow e[x/v]\) </p>

    \[\frac
      {\langle \mathtt{expr}, s\rangle \Downarrow v}
      {\langle \mathtt{var := expr}, s\rangle \downarrow s\left[\mathtt{var} \leftarrow v\right]}
     \small{\text{Assign}}\]

    <p>Using MathJax allows users of assistive technology to browse the equations.</p>
	

  </article>

  <article>
	<header><h3>Results and Lessons Learned</h3></header>
	<p> Show us some cool images of the results from your project. You can <em>emphasize</em> 
		parts of your text for readers. You can also make it <strong>strong</strong> to get your
		point across as well. <i>Italics</i> are also useful for scientific terms and foreign words.
	</p>
	<figure>
	  <img src="https://github.com/FRI-Energy-Analytics/2020_summer_fellows/blob/main/Sat%20to%20Geo/Sprint%201/assets/stg_example.png?raw=true" width="500" height="500" alt="A 3x3 image of geologic maps, generated outputs and desired outputs.">
	  <figcaption>Comparison of generated output and desired output from geologic maps for three examples.</figcaption>
	</figure>
  </article>
  
  <article>
    <header><h3>Recommendations</h3></header>
    <p>Here you can tell us what you recommend. Should we keep training the model? How should we
		plug wells? Should we continue predicting orphan well dates? Tell us what we need to 
		do next for the research project and also for the problem as a whole.
	</p>
  </article>

  <article>
    <header><h3>Acknowledgements markup</h3></header>
	<p> Thanks to:</p>
	<ul>
	  <li> Texas Advanced Computing Center </li>
	  <li> Freshman Research Initiative </li>
	  <li> ConocoPhillips </li>
	  <li> anyone else that helped you on the project along the way </li>
	</ul>
  </article>
  

  <figure style="flex-grow: 9999999">
    <img style="width: 70%" src="EA_logo.jpg" alt="Project logo" />
    <figcaption>Freshman Research Initiative Energy Analytics</figcaption>
  </figure>
{% endblock %}
